@import url(https://refact0r.github.io/midnight-discord/build/midnight.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);

body {
    --remove-bg-layer: off;
    --background-image: on;
    --background-image-url: url(https://i.imgur.com/mOR0PoA.jpeg);
    --top-bar-height: var(--gap);
    --transparency-tweaks: on;
    --panel-blur: on;
    --blur-amount: 12px;
    --gap: 16px;
    --bg-floating: hsla(220, 15%, 13%, 0.6);
    --small-user-panel: off;
    --custom-chatbar: separated;
    --chatbar-height: 56px;
}

:root {
    --bg-4: hsla(220, 15%, 10%, 0.9);
    --text-0: hsla(220, 15%, 10%, 1);
    --text-1: hsl(220, 45%, 100%);
    --text-2: hsl(220, 25%, 90%);
    --text-3: hsl(220, 20%, 75%);
    --text-4: hsl(220, 15%, 55%);
    --text-5: hsl(220, 15%, 40%);
}

div[class^="winButtons_"] {
    display: none !important;
}
[class^="base_"] {
    --top-bar-right-margin: calc(
        32px * var(--button-count) + var(--button-count) * var(--space-xs)
    ) !important;
}
